<nav class="text-center justify-center item-center bg-zinc-400 border-gray-200 h-14 ">
  <form #userForm="ngForm" (ngSubmit)="submitForm(userForm.value)">
    <input class=" rounded-md w-10% p-1 ml-5" type="text" name="username" ngModel #userName="ngModel">
    <button [disabled]="!userName.value"
      class="text-white rounded-md bg-black pt-1 pl-2 pr-2 pb-2 ml-2 mt-3 hover:bg-slate-700"
      type="submit">Search</button>
    <span class="text-red -mr-[12.7rem]" *ngIf="!userName.value"> " Did you write something?? </span>
  </form>
</nav>
<app-loader [style.display]="this.display"></app-loader>
<app-err *ngIf="error" [msg]="this.message"></app-err>
<app-card *ngIf="this.userData[this.profileName]" (parentNavFun)="nextPrevPage($event)"
  [next]="(this.product < this.userData[this.profileName].totalRepos)" [pageNo]="this.pageNo"
  [user]="this.userData[this.profileName]" [repository]="this.repoShow[this.profileName]"> </app-card>